:root{
  .dark-mode{
    .skills__content{
      background-color: var(--dark-boxes-color);
    }
  }
}


.skills__container {
  display: flex;
  column-gap: 3rem;
  justify-content: center;
}

.section__title,
.section__subtitle {
  display: grid;
  align-items: center;
  justify-content: center;
}

.section__subtitle{
  margin-bottom: var(--mb-1);
}

.skills__content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}

.project__img {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.skills__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-normal);
  text-align: center;
  justify-content: center;
  margin-bottom: var(--mb-1);
}

.skills__box {
  display: grid;
  column-gap: 2.5rem;
}

.skills_group {
  display: grid;
  row-gap: 0.5rem;
}

.skills__data {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.skills .box-badge-check {
  font-size: 0.5rem;
  color: var(--title-color);
}

.skills__name {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-normal);
  line-height: 18px;
}

/* ==BREAKPOINTS== */

/* for large devices */
@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

/* for medium devices */
@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__content {
    padding: 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .skills__content {
    padding: 1rem;
  }

  .skills__box {
    columns: gap 1.25rem;
  }

  .skills__name {
    font-size: var(--smaller-font-size);
  }

  .skills__title {
    font-size: var(--small-font-size);
  }
}
