:root {
  .dark-mode {
    .footer__link:hover {
      color: var(--dark-hover-color);
    }

    .footer {
      background-color: var(--dark-boxes-color);
      padding: 0 0;
    }
  }

  .container {
    margin: auto;
  }
}

.footer {
  background-color: var(--container-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 14rem;
}

.footer__container {
  padding: 1rem 0 2rem;
}

.footer__title,
.footer__link {
  color: var(--title-color);
}

.footer__link:hover {
  color: var(--title-color-dark);
}

.footer__title,
.footer__reminder {
  text-align: center;
  justify-content: center;
  margin-bottom: var(--mb-1);
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-1);
}

.footer__copy {
  display: block;
  margin-top: 1.5rem;
  font-size: var(--smaller-font-size);
  text-align: center;
}
